/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
  }
  
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;

  }

.parent {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
          